target
dist/
node_modules/
docs/
.env
venv
wallet.json
out.log
Cargo.lock
__pycache__/
.idea/
protocols/.idea/
*.pyc 
*.ipynb_checkpoints
.vscode/
deploy_key.json
client/.vscode
CMakeLists.txt
cmake-build-debug